@model IEnumerable<KenkoApp.Models.Appointment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div @*class="innerbody"*@>
        <div class="row">
            <div class="col-8">
                <h3>My Appointments</h3>
            </div>
            <div class="col-4" style="vertical-align:baseline; text-align-last:right">
                <a class="btn btn-primary" asp-action="Create">Book a new appointment</a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReasonForVisit)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReasonForVisit)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.AppointmentID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.AppointmentID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.AppointmentID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>